<div class="fields">
    <div class="min_attraction">
      	<!-- fields -->
    	<%= f.input :student_id, collection: Student.active.alphabetical, prompt: "Select student..."%>
    	<%= f.input :payment_status %>
    	<%= f.input :points_earned %>
	</div>
</div>