<h2 align = "center" class = "subheader", align = "left"> Welcome to The Alex & Mark Chess Camp Company Database</h2>
<hr size="100">
<p id = "main_content"> - You need to login in order to have access to the system. If you are a guest, click the guest button below<br><br>
	- Use the navigation bar above to access the various sections of our database (View, Add, Edit, Delete) records.<br><br>
	- On the right are a few quick links for instant access to some of the most common functionalities of this system, such as adding camps, instructors, and curriculums, and also linking instructors to a particular camp.<br><br>
	- Check out the links below in the footer to find out more about our company through the About Us page, Contact Us and our Privacy Policy.<br><br>
	- In case of any issues regarding the functionality of this system, or to report bugs and inconveniences, please contact the webmaster through the link in the footer.
</p>