<h2 align = "center" class = "subheader", align = "left"> Welcome to The Alex & Mark Chess Camp Company </h2>
<hr style = "style-one">
<div class="small-11 small-centered columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "upcoming_camps", locals: { status: "Upcoming", camps: @upcoming_camps } %>
    <p>&nbsp;</p>
    <br />
</div>